$VIOLETA: #BD67AA
$AZUL: #02155C
$CELESTE: #3562E3
$BLANCO: #F3F3F3
$GRIS: #888
$NEGRO: #000



h2
	font-weight: lighter

select,
button
	width: 100%
	padding: .7rem
	font-size: 1.1rem

button
	font-weight: bolder
	letter-spacing: .2rem

body
	background-image: linear-gradient(to left, #C33764, #1D2671)

table
	th
		color: $BLANCO
		background-color: rgba(0, 0, 0, .5)

body, *
    margin: 0
    padding: 0
    box-sizing: border-box

    font-family: Arial

h1, h2
    cursor: default
    text-align: center
h1
    color: #F3F3F3
    padding: 2rem 1rem
    cursor: default

.supermarket-products
    width: 100%
    height: 25rem

    table
        border: 2px solid $NEGRO
        width: 100%
        overflow-y: scroll

        thead,tbody
            width: 100%

        tr
            th,td
                padding: .3rem .7rem
                border-left: 1px solid 

            td
                color: #DEDEDE

.form_full
    width: 70vw
    display: flex
    align-items: center
    justify-content: space-between

    background-color: rgba(255, 255, 255, .3)
    margin: 3rem auto
    overflow: show

    .form_lore
        width: 50%
        padding: 2.5rem

        h2
            color: lighten($GRIS, 20)
            padding: 1rem 1rem
            line-height: 2rem
            text-align: center
            

    form
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        
        width: 50%
        margin: -2rem 0 -2rem 3rem
        padding: 3rem
    
        background-color: $BLANCO

        input[type="text"]
            color: #000000
            margin: 1rem
            padding: .7rem
            width: 100%

        fieldset
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center

            width: 100%
            margin-top: 1rem
            padding: 1rem

            legend
                color: $GRIS

            div
                input[type="radio"]
                    margin: .2rem 0

                input[type="radio"]:checked
                    transform: scale(1.8)
                    margin: .5rem 0

                label
                    color: $GRIS
                    padding: 0 .5rem
                
        button[type="submit"]
            font-size: 1rem
            color: $BLANCO
            background-color: $AZUL
            border: none

            transition: .3s ease 0s
            cursor: pointer
            cursor: hand

            margin-top: 2rem
            padding: .7rem 2rem

            &:hover
                background-color: $VIOLETA

.filter
	text-align: right !important